{% extends 'base.html' %} {% load static %} {% block title %}About{% endblock %} {% block content %}
<!-- header section end -->

<!-- pages-title-start -->
<div class="pages-title section-padding">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">
                <div class="pages-title-text text-center">

                    <h2 style="color:black;text-transform: capitalize;">About</h2>

                    <ul class="text-left" style="margin-top: -30px; margin-bottom: 40px;">

                        <li><a href="\" style="color: black;">Home </a></li>
                        <li style="color:black"><span> // </span>About</li>
                        {% if category_slug != None %}
                        <li style="color:black"><span> // </span>{{category_slug}}</li>
                        {% endif %}

                    </ul>

                </div>
            </div>

        </div>

    </div>

</div>

<br>
<!-- pages-title-end -->

<!-- product-grid-view content section start -->
<section style="background:#f5f5f5; box-shadow: 0 0 7px black; margin-bottom: 40px;" class="pages products-page section-padding-bottom">

    <div class="container">

        <div class="row"><br>

            <div class="content">

                <div class="row">
                    <div class="text col-md-12">
                        <img src="{% static 'img/about/about-us.png' %}" style="box-shadow: 0 0 3px black;" alt="About Logo" class="img-fluid mb-4" />
                        <h2 style="color: black;">About Us</h2>
                        <p class="para-text">
                            Welcome to our e-Commerce website! We are dedicated to providing you with the best online shopping experience. Our journey began with a simple idea: to make shopping easy, accessible, and enjoyable for everyone. Over the years, we have grown into a trusted
                            online retailer, offering a wide range of products to meet your needs.
                        </p>
                    </div>
                </div>

                <div class="text row mt-3">
                    <div class="col-md-6">
                        <h3 style="color: black;">Our Mission</h3>
                        <p class="para-text">
                            Our mission is to provide our customers with high-quality products at competitive prices, backed by exceptional customer service. We strive to create a seamless shopping experience, from browsing to delivery, ensuring that you receive the best value and
                            satisfaction.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3 style="color: black;">Our Vision</h3>
                        <p class="para-text">
                            Our vision is to be the leading online retailer, known for our commitment to quality, innovation, and customer satisfaction. We aim to continuously expand our product range and improve our services to meet the evolving needs of our customers.
                        </p>
                    </div>
                </div>

                <div class="text row mt-3">
                    <div class="col-md-12" style="font-size: 18px; color: rgb(104, 102, 102);">
                        <h3 style="color: black;">Our Values</h3>
                        <i class="fas fa-check-circle" style="color: green; line-height: 2rem; text-align: justify"></i>
                        <strong style="font-size: 18px; color: rgb(59, 58, 58);">Customer First:</strong> We prioritize our customers' needs and strive to exceed their expectations with every interaction.
                        <br />

                        <i class="fas fa-check-circle" style="color: green; line-height: 2rem; text-align: justify"></i>
                        <strong style="font-size: 18px; color: rgb(59, 58, 58);">Quality:</strong> We are committed to offering products of the highest quality and stand behind everything we sell.
                        <br />
                        <i class="fas fa-check-circle" style="color: green; line-height: 2rem; text-align: justify"></i>
                        <strong style="font-size: 18px; color: rgb(59, 58, 58);">Integrity:</strong> We conduct our business with honesty and transparency
                    </div>
                </div>

                <div class="row mt-3">
                    <p class="para-text" style="font-size: 18px;">
                        We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to
                        <a href="{% url 'shop:contact' %}" style="text-decoration: underline; font-size: 18px; color: rgb(51, 49, 49); font-weight: 600;"> contact us. </a>
                    </p>
                </div>

            </div>

        </div>

    </div>

</section>

{% endblock content %}